@if (notification) {
<div class="fixed bottom-6 right-6 z-[1000]">
    <div class="bg-blue-500 text-white px-6 py-4 rounded-lg shadow-lg flex items-start space-x-4">
        <div>
            <i class="ri-notification-3-line text-2xl"></i>
        </div>
        <div>
            <p class="font-medium">{{notification?.message}}</p>
        </div>
        <button (click)="closeNotification()" class="cursor-pointer text-white hover:text-gray-200 ml-4">
            <i class="ri-close-line text-xl"></i>
        </button>
    </div>
</div>
}