@if(users && users.length>0){<div>

    @for(user of users; track user._id; let i = $index; ){
    <div (click)="selected({data:user, index:i})"
        class="px-5 py-2 w-full flex items-center rounded group hover:bg-slate-100 dark:hover:bg-zinc-600 transition-all">
        <div class="relative mr-3">
            <!-- <img src="#" class="rounded-full w-9 h-9" alt="user-img"> -->
            <span class="w-9 h-9 flex items-center justify-center rounded-full overflow-hidden">
                <span
                    class="text-xs md:text-md flex items-center justify-center text-black bg-gray-200 dark:bg-gray-600 w-full h-full text-center whitespace-nowrap dark:text-white uppercase">
                    {{user?.username![0]}}{{user?.username![1]}}
                </span>
            </span>
            <span
                class="absolute w-2.5 h-2.5 bg-yellow-500 border-2 border-white rounded-full top-7 right-1 dark:border-zinc-600"></span>
        </div>
        <div class="flex-grow">
            <h5 class="mb-0 text-base truncate dark:text-gray-50">{{ user.username }}</h5>
            <p class="mb-0 text-sm text-gray-500 truncate dark:text-gray-300">{{user.role}}
            </p>
        </div>
    </div>
    }
</div>}