<div class="flex bg-white dark:bg-gray-800 flex-col gap-10">
    <div class="rounded-sm border-stroke shadow-default dark:border-slate-700">
        <div class="px-4 py-6 md:px-6 xl:px-7.5">
            <h4 class="text-xl font-bold text-black dark:text-white">{{users.length}}</h4>
        </div>

        <div class="overflow-x-auto scrollable">
            <table class="w-full divide-y divide-slate-700 text-black dark:text-white">

                <thead class="bg-white dark:bg-gray-800">
                    <tr>
                        <th scope="col" class="px-4 py-2 text-left font-semibold text-black dark:text-white">username
                        </th>
                        <th scope="col" class="px-4 py-2 text-left font-semibold text-black dark:text-white">Role
                        </th>
                        <th scope="col" class="px-4 py-2 text-left font-semibold text-black dark:text-white">Actions
                        </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-slate-700">
                    @if(users && users.length>0){

                    @for (user of users; track user._id; let i = $index;) {
                    <tr [id]="user._id">

                        <td class="px-4 py-4" (click)="navigate(user._id!)"><a [routerLink]="[user._id]"
                                rel="noopener noreferrer">{{user.username}}</a>
                        </td>
                        <td class="px-4 py-4" (click)="navigate(user._id!)">{{ user.role }}</td>
                        <td class="px-4 py-4">
                            <div class="flex">
                                <app-btn-table-edit
                                    (onTableBtnEdit)="toggleShowForm({user,index:i})"></app-btn-table-edit>

                                <app-btn-table-delete [tableData]="{ id: user._id, index: i }"
                                    (onTableBtnDelete)="toggleDeleteEvent($event)"></app-btn-table-delete>
                            </div>
                        </td>
                    </tr>
                    }
                    }
                    @else{
                    <tr>
                        <td class="px-4 py-4">No Data Available</td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>