<div class="pt-6">
    <div class="flex items-center justify-between pr-2">
        <h4 class="text-xl font-semibold text-gray-700 dark:text-gray-50">Projects</h4>
        @if
        (userRole=='super_admin'||userRole=='admin'||userRole=='hod'||userRole=='project_coordinator')
        {
        <div class="flex gap-5">
            <app-btn-add (onAdd)="enableForm()" name="Add Project"></app-btn-add>
        </div>
        }@else if(userRole=='student') {
        <div class="flex gap-5">
            <app-btn-add (onAdd)="enableForm()" name="Propose Project"></app-btn-add>
        </div>
        }
    </div>
    <div class="relative mt-5 mb-5 rounded-lg shadow-lg bg-white dark:bg-zinc-800">
        <input type="text" [formControl]="searchControl" (keyup)="filterData()"
            class="w-full py-2 pl-10 pr-4 bg-transparent text-gray-700 dark:text-gray-200 placeholder:text-sm focus:outline-none focus:ring-2 focus:ring-blue-400 dark:focus:ring-blue-500 rounded-lg"
            placeholder="Search project" aria-label="Search project">

        <!-- Search Icon -->
        <span class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400 dark:text-gray-200">
            <i class="ri-search-line text-lg"></i>
        </span>
    </div>
    <div class="flex space-x-4 overflow-y-auto pb-2">
        <button (click)="setFilter('all')" class="px-1 rounded-lg bg-blue-500 text-white">All</button>
        <button (click)="setFilter('new')" class="px-1 rounded-lg bg-green-500 text-white">New</button>
        <button (click)="setFilter('proposed')" class="px-1 rounded-lg bg-yellow-500 text-white">Proposed</button>
        <button (click)="setFilter('approved')" class="px-1 rounded-lg bg-blue-600 text-white">Approved</button>
        <button (click)="setFilter('notWorkedOnYet')" class="px-1 rounded-lg bg-red-500 text-white">NoGroup</button>
        <button (click)="setFilter('others')" class="px-1 rounded-lg bg-gray-500 text-white">Others</button>
    </div>

</div>

<div (scroll)="onScroll($event)" class="h-[calc(100%-260px)] overflow-x-hidden overflow-y-auto space-y-4 px-2">
    @if(filteredProjects.length>0){
    @for(project of filteredProjects; track project._id; let i = $index; ){
    <div (click)="selected({data:project, index:i})" [routerLink]="[project._id, 'overview']"
        class="px-4 py-1 w-full rounded items-center cursor-pointer group hover:bg-slate-100 dark:hover:bg-zinc-600 transition-all">

        <h5 class="mb-0 text-base truncate dark:text-gray-50">{{ project.name }}</h5>
        <p class="mb-0 text-sm text-gray-500 truncate dark:text-gray-300">{{project.description}}
        </p>
    </div>
    }
    }@else {
    <p class="text-gray-500 italic">No project available </p>
    }
</div>