@if(projects && projects.length>0){<div>

    @for(project of projects; track project._id; let i = $index; ){
    <div (click)="selected({data:project, index:i})"
        class="px-5 py-3 w-full  min-w-300px items-center group hover:bg-slate-100 dark:hover:bg-zinc-600 transition-all">

        <h5 class="mb-1 text-base truncate dark:text-gray-50">{{ project.name }}</h5>
        <p class="mb-0 text-sm text-gray-500 truncate dark:text-gray-300">{{project.description}}
        </p>

    </div>
    }
</div>}