@if (isFormVisible==true) {
<app-user-form [isEditMode]="isEditMode" [isAddMode]="isAddMode" [user]="user"
    (onPostRequest)="handlePostRequest($event)" (onPutRequest)="handlePutRequest($event)"></app-user-form>
}
@if(isAssignS_SForm===true){
<app-assign-supervisor-to-student-form (onCloseForm)="closeAssignForm()"></app-assign-supervisor-to-student-form>
}
@if(isData === true){
<app-btn-add (onAdd)="postRequestForm()" name="Add User"></app-btn-add>
<app-btn-add (onAdd)="ActAssignForm()" name="Assign Supervisor"></app-btn-add>
<app-table (onShowForm)="showForm($event)" (onDelete)="deleteData($event)"></app-table>
}
<router-outlet></router-outlet>