<div class="h-full flex flex-col overflow-hidden">
    @if (isFormVisible==true) {
    <app-user-form [isEditMode]="isEditMode" [isAddMode]="isAddMode" [user]="user"
        (onPostRequest)="handlePostRequest($event)" (onPutRequest)="handlePutRequest($event)"></app-user-form>
    }

    @if(isData === true){
    <!-- @if(userRole=='super_admin'||userRole=='admin'||userRole==="hod"||userRole==="project_coordinator"){
    <div class="flex gap-5">
        <app-btn-add (onAdd)="ActAssignForm()" name="Assign Supervisor"></app-btn-add>
    </div>
    } -->
    <!-- <app-table (onShowForm)="showForm($event)" (onDelete)="deleteData($event)"></app-table> -->

    <div class="md:flex h-full w-full">
        @if(isLgScreen===true || (isLgScreen===false && islistSelected===false)){
        <app-user-list class="flex-1 md:max-w-[300px]" [users]="users"
            (onSelectedProject)="listSelected($event)"></app-user-list>
        }
        <!-- <div class="p-2 bg-green-100 inline-block max-w-[120px] cursor-pointer">
        <a [routerLink]="[islistSelectedData.data._id]" rel="noopener noreferrer">View details</a>
    </div> -->
        @if (islistSelected) {
        <div class="relative w-full flex-1">
            <app-btn-unshowform class="md:hidden" (onClose)="closeForm()"></app-btn-unshowform>
            <div class="flex">
                <app-btn-table-edit
                    (onTableBtnEdit)="showForm({user:islistSelectedData.data ,index:islistSelectedData.index})"></app-btn-table-edit>

                <app-btn-table-delete [tableData]="{ id: islistSelectedData.data._id }"
                    (onTableBtnDelete)="deleteData($event)"></app-btn-table-delete>
            </div>
            <!-- <app-user-details></app-user-details> -->
            <router-outlet></router-outlet>
        </div>
        }
        <!-- <div class="relative w-full flex-1">
    </div> -->
    </div>
    }
</div>