<!-- <div class="flex gap-2 py-4">
    <app-btn-add (onAdd)="postRequestForm($event)" name="Add Team"></app-btn-add>
    <app-btn-assign-project-or-team (onFormEnabled)="activateAssignForm($event)"
        btnMessage="Assign Team on Project"></app-btn-assign-project-or-team>
</div> -->
@if (isEnableCreateTeamForm==true) {
<app-team-form [isEditMode]="isEditMode" [isAddMode]="isAddMode" [team]="team" (onCloseForm)="closeTeamForm($event)"
    (onPostRequest)="handlePostRequest($event)" (onPutRequest)="handlePutRequest($event)"></app-team-form>
}
@if (isEnableAssginForm) {
<app-assign-project-form (onCloseForm)="activateAssignForm($event)"></app-assign-project-form>
}
@if (isData===true) {
<app-team-table [projectTeams]="projectTeams" (onShowForm)="putRequestForm($event)"
    (onDelete)="deleteData($event)"></app-team-table>
}
<router-outlet></router-outlet>