<div class="flex gap-2 py-4">
    <app-btn-interested [project]="project"></app-btn-interested>
    @if
    (userRole=='super_admin'||userRole=='admin'||userRole=='supervisor'||userRole=='hod'||userRole=='project_coordinator')
    {
    <app-btn-assign-project-or-team btnMessage="Assign Team"></app-btn-assign-project-or-team>
    @if (project&& project.status === "proposed") {
    <app-btn-approve [project]="project"></app-btn-approve>
    <app-btn-decline [project]="project"></app-btn-decline>
    }
    }
</div>

<div class="overflow-x-auto scrollable">
    <table class="w-full divide-y divide-slate-700 overflow-x-auto">
        <thead class="bg-white dark:bg-gray-800">
            <tr>

                <th scope="col" class="px-4 py-2 text-left font-semibold text-black dark:text-white">Key</th>
                <th scope="col" class="px-4 py-2 text-left font-semibold text-black dark:text-white">Value</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-slate-700 text-black dark:text-white">
            @if (project) {
            <tr>
                <td class="px-4 py-4">Description</td>
                <td class="px-4 py-4">{{project.description}}</td>
            </tr>
            <tr>
                <td class="px-4 py-4">Status</td>
                <td class="px-4 py-4">{{project.status}}</td>
            </tr>
            <tr>
                <td class="px-4 py-4">Manager</td>
                <td class="px-4 py-4">{{project.supervisor.username}}</td>
            </tr>
            <tr>
                <td class="px-4 py-4">Project Type</td>
                <td class="px-4 py-4">{{project.projectType}}</td>
            </tr>
            <tr>
                <td class="px-4 py-4">Department</td>
                <td class="px-4 py-4">{{project.department}}</td>
            </tr>
            }@else{
            <tr>
                <td class="px-4 py-4">No Data Available</td>
            </tr>}
        </tbody>
    </table>
</div>