<div class="p-6">
    <!-- <input [formControl]="groupIdForm" (keyup)="setUploadRefId()" type="text" placeholder="Enter your submission code"> -->
    <!-- Project Documentation -->
    <div class="mb-8">
        <h1 class="text-lg font-bold text-gray-800 dark:text-gray-300 mb-4">Project Documentation</h1>
        <div *ngFor="let chapter of chapters; let i = index" class="md:flex justify-between items-center mb-4">
            <span class="text-gray-600 dark:text-gray-300">
                Chapter {{ i + 1 }} - {{ chapter.name }}
            </span>

            <form [formGroup]="chapterForms[i]" (submit)="onChapterSubmit(i, chapter.name)"
                class="md:flex items-center space-x-2">
                <input type="file" formControlName="file" value="{{chapter.file}}" (change)="onFileChange($event, i)"
                    accept="application/pdf"
                    class="appearance-none border rounded px-3 py-2 text-gray-700 focus:outline-none focus:shadow-outline" />

                <button type="submit" [disabled]="!chapterForms[i].valid"
                    class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded focus:outline-none focus:shadow-outline">
                    Upload
                </button>

            </form>
            @if (chapter.file) {
            <!-- Actions -->
            <div class="flex items-center space-x-4">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded focus:outline-none focus:shadow-outline"
                    (click)="viewFile(chapter.file)">
                    View
                </button>
                <button
                    class="bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded focus:outline-none focus:shadow-outline"
                    (click)="downloadFile(chapter.file)">
                    Download
                </button>
            </div>
            }

        </div>
    </div>

    <!-- Project Brief -->
    <div>
        <h1 class="text-lg font-bold text-gray-800 dark:text-gray-300 mb-4">Project Brief</h1>
        <form [formGroup]="projectBriefForm" (ngSubmit)="onProjectBriefSubmit()" class="space-y-4">
            <!-- Project Name -->
            <div>
                <label for="projectName" class="block text-sm font-medium text-gray-700">Project Name</label>
                <input type="text" id="projectName" formControlName="name" placeholder="Enter project name"
                    class="appearance-none border rounded px-3 py-2 w-full text-gray-700 focus:outline-none focus:shadow-outline" />
            </div>

            <!-- Project Description -->
            <div>
                <label for="projectDescription" class="block text-sm font-medium text-gray-700">Description</label>
                <textarea id="projectDescription" formControlName="description" rows="4"
                    placeholder="Enter project description"
                    class="appearance-none border rounded px-3 py-2 w-full text-gray-700 focus:outline-none focus:shadow-outline"></textarea>
            </div>

            <!-- Project Type -->
            <div>
                <label for="projectType" class="block text-sm font-medium text-gray-700">Project Type</label>
                <select id="projectType" formControlName="type"
                    class="appearance-none border rounded px-3 py-2 w-full text-gray-700 focus:outline-none focus:shadow-outline">
                    <option value="new">New</option>
                    <option value="existing">Existing</option>
                </select>
            </div>

            <!-- Submit Button -->
            <div class="flex items-center justify-between">
                <button type="submit" [disabled]="!projectBriefForm.valid"
                    class="bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded focus:outline-none focus:shadow-outline">
                    Submit Project Brief
                </button>
            </div>
        </form>
    </div>
</div>