@if(user){<div class="max-w-screen-xl mx-auto">
    @if(userRole=='super_admin'||userRole=='admin'||userRole==="hod"){
    <app-btn-add (onAdd)="promote(user)" name="Promote User"></app-btn-add>}
    <div class="flex flex-wrap">

        <!-- user Info Section -->
        <div class="w-full">
            <button class="dark:text-gray-100 underline hover:underline-none " (click)=" goToChat()">Chat</button>
            <!-- <h1 class="text-2xl font-bold mb-4">{{user.profile?.name}}</h1> -->
            <p class="mb-4 text-gray-600">
                username: {{user.username}}
            </p>
            <p class="mb-4 text-gray-600">
                role: {{user.role}}
            </p>

        </div>
    </div>

</div>}
@if (actChangeRoleF===true && user) {
<app-user-role-form [user]="user" (onCloseForm)="closeUserRoleForm()"
    (onRoleChanged)="roleChanged($event)"></app-user-role-form>
}