<div class="pt-2">
    @if (isEnableCreatePForm==true) {
    <app-project-form [isEditMode]="isEditMode" [isAddMode]="isAddMode" [project]="project"
        (onCloseForm)="closeProjectForm($event)" (onPostRequest)="handlePostRequest($event)"
        (onPutRequest)="handlePutRequest($event)"></app-project-form>
    }
    @if
    (isEnableAssginForm&&(userRole=='super_admin'||userRole=='admin'||userRole=='supervisor'||userRole=='hod'||userRole=='project_coordinator'))
    {
    <app-assign-project-form (onCloseForm)="activateAssignForm($event)"></app-assign-project-form>
    }
    <div class="flex gap-5">
        @if
        (userRole=='super_admin'||userRole=='admin'||userRole=='supervisor'||userRole=='hod'||userRole=='project_coordinator')
        {
        <app-btn-add (onAdd)="postRequestForm($event)" name="Add Project"></app-btn-add>
        }@else {
        <app-btn-add (onAdd)="postRequestForm($event)" name="Propose Project"></app-btn-add>
        }
        @if(isData===true &&
        userRole=='super_admin'||userRole=='admin'||userRole=='supervisor'||userRole=='hod'||userRole=='project_coordinator'){
        <app-btn-assign-project-or-team (onFormEnabled)="activateAssignForm($event)"
            btnMessage="Assign Team"></app-btn-assign-project-or-team>
        }
    </div>
    @if (isData===true) {
    <app-project-table (onShowForm)="putRequestForm($event)" (onDelete)="deleteData($event)"></app-project-table>
    }
    <router-outlet></router-outlet>
</div>