<div class="pt-2">
    @if (isEnableCreatePForm==true) {
    <app-project-form [isEditMode]="isEditMode" [isAddMode]="isAddMode" [project]="project"
        (onCloseForm)="closeProjectForm($event)" (onPostRequest)="handlePostRequest($event)"
        (onPutRequest)="handlePutRequest($event)"></app-project-form>
    }
    @if
    (isEnableAssginForm&&(userRole=='super_admin'||userRole=='admin'||userRole=='supervisor'||userRole=='hod'||userRole=='project_coordinator'))
    {
    <app-assign-project-form (onCloseForm)="activateAssignForm($event)"></app-assign-project-form>
    }
    @if(isLgScreen===true || (isLgScreen===false && islistSelected===false)){
    <div class="flex gap-5 mb-5">
        @if
        (userRole=='super_admin'||userRole=='admin'||userRole=='supervisor'||userRole=='hod'||userRole=='project_coordinator')
        {
        <app-btn-add (onAdd)="postRequestForm($event)" name="Add Project"></app-btn-add>
        }@else {
        <app-btn-add (onAdd)="postRequestForm($event)" name="Propose Project"></app-btn-add>
        }
        <!-- @if(isData===true &&
        userRole=='super_admin'||userRole=='admin'||userRole=='supervisor'||userRole=='hod'||userRole=='project_coordinator'){
        <app-btn-assign-project-or-team (onFormEnabled)="activateAssignForm($event)"
            btnMessage="Assign P Team"></app-btn-assign-project-or-team>
        } -->
    </div>}
    <!-- @if (isData===true) {
        <app-project-table (onShowForm)="putRequestForm($event)" (onDelete)="deleteData($event)"></app-project-table>
    } -->

    @if (isData===true) {
    <div class="md:flex h-full w-full">

        @if(isLgScreen===true || (isLgScreen===false && islistSelected===false)){
        <app-project-list class="flex-1 md:max-w-[400px]" [projects]="projects"
            (onSelectedProject)="selectedGroup($event)"></app-project-list>
        }
        @if (islistSelected) {
        <div class="relative w-full flex-1">
            <app-btn-unshowform class="md:hidden" (onClose)="closeForm()"></app-btn-unshowform>
            @if
            (userRole=='super_admin'||userRole=='admin'||userRole=='supervisor'||userRole=='hod'||userRole=='project_coordinator')
            {
            <div class="flex">
                <div class="p-2 bg-blue-200 inline-block max-w-[120px] cursor-pointer">
                    <a [routerLink]="[islistSelectedData.data._id]" rel="noopener noreferrer">More details</a>
                </div>
                <div class="flex">
                    <app-btn-table-edit
                        (onTableBtnEdit)="putRequestForm({project:islistSelectedData.data ,index:islistSelectedData.index})"></app-btn-table-edit>

                    <app-btn-table-delete [tableData]="{ id: islistSelectedData.data._id }"
                        (onTableBtnDelete)="deleteData($event)"></app-btn-table-delete>
                </div>
            </div>
            }
            <app-overview></app-overview>
        </div>
        }
    </div>

    }
    <router-outlet></router-outlet>
</div>