<!-- <p>dashboard works!</p>
<button (click)="changeUser()">Change User</button> -->
<!-- <div class="bg-gray-100 min-h-screen p-6"> -->
<div class="max-w-6xl mx-auto gap bg-white dark:bg-gray-800 p-6 shadow-md">

    <div class="flex-col flex md:flex-row gap-4 justify-between">
        <!-- <div class="flex flex-1 flex-col justify-between items-start">
            <div class="flex justify-between items-between justify-between w-full">
                <div>
                    <h2 class="text-xl text-gray-700 dark:text-gray-100 font-semibold mb-2">My Portfolio</h2>
                    <p class="text-gray-600 dark:text-gray-300">Showcase of Projects</p>
                </div>
                <div>
                    <p class="text-gray-600 dark:text-gray-300 text-right">Visitors</p>
                    <p class="text-lg md:text-3xl text-gray-300 font-bold text-right">68,789,56
                    </p>
                </div>
            </div>

            <div class="mt-4 flex space-x-2 md:space-x-4">
                <a routerLink="project"
                    class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-3 md:px-4 rounded">
                    Add new Project
                </a>
                <a routerLink="project"
                    class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-bold py-2 px-3 md:px-4 rounded">
                    View Project
                </a>
            </div>
        </div> -->


        <!-- <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
        <div class="bg-white p-4 rounded-lg shadow-md flex justify-between items-center w-full">
            <div>
                <p class="text-sm font-semibold"> 1 Project</p>
                <p class="text-gray-600 font-medium"> Go</p>
            </div>
            <img src="logoUrl" alt="Go" class="h-10 w-10">
        </div>

        
    </div> -->
    </div>
    <!-- </div> -->