<div class="h-full flex flex-col overflow-hidden">
    <!-- Content header -->
    <div class="flex items-center justify-between px-6 py-4 border-b lg:py-8 dark:border-primary-darker">
        <h1 class="text-2xl font-semibold dark:text-gray-200">Dashboard</h1>
        <a routerLink="chat"
            class="px-4 py-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark">
            Chat
        </a>
    </div>

    <!-- Content -->
    @if(dashboardData){
    <div class="mt-2 h-[calc(100%-180px)] lg:h-[calc(100%-210px)] overflow-auto">
        @if(user.role==='student' && !user.group){
        <p class="text-gray-700 dark:text-gray-200 py-2">To work on on a project, you have to be a member of a group.
            Create group to work on a project</p>
        <app-btn-add (onAdd)="postRequestForm($event)" name="Create Group"></app-btn-add>
        }
        @if(user.role==='student' && user.group&& !user.project){
        <p class="text-gray-700 dark:text-gray-200 py-2">To work on on project, navigate to <a [routerLink]="'project'"
                class="underline text-gray-600 dark:text-gray-200">project</a> then choose
            your preferred project or propose new</p>

        }
        <!-- State cards -->
        <div class="grid grid-cols-1 gap-8 py-4 lg:grid-cols-2 xl:grid-cols-4">
            <!-- Value card -->
            <!-- <div class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker">
                <div>
                    <h6
                        class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light">
                        Value
                    </h6>
                    <span class="text-xl font-semibold">GH30,000</span>
                    <span class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md">
                        +4.4%
                    </span>
                </div>
                <div>
                    <span>
                        <svg class="w-12 h-12 text-gray-300 dark:text-primary-dark" xmlns="http://www.w3.org/2000/svg"
                            width="20" height="20" viewBox="0 0 24 24" fill="none">
                            <text x="4" y="20" font-family="Arial, sans-serif" font-size="20" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">₵</text>
                        </svg>
                    </span>

                </div>
            </div> -->
            <!-- <span>
                <svg class="w-12 h-12 text-gray-300 dark:text-primary-dark" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                    </path>
                </svg>
            </span> -->

            @if( dashboardData?.statistics?.totalUsers||dashboardData?.statistics?.totalUsers=== 0){
            <!-- Users card -->
            <div class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker">
                <div>
                    <h6
                        class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light">
                        Users
                    </h6>
                    <span class="text-xl font-semibold">{{dashboardData?.statistics?.totalUsers}}</span>
                    <span class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md">
                        +2.6%
                    </span>
                </div>
                <div>
                    <span>
                        <svg class="w-12 h-12 text-gray-300 dark:text-primary-dark" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z">
                            </path>
                        </svg>
                    </span>
                </div>
            </div>
            }
            @if( dashboardData?.statistics?.totalSupevisedStudents||dashboardData?.statistics?.totalSupevisedStudents===
            0){
            <!-- Supervised Student card -->
            <div class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker">
                <div>
                    <h6
                        class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light">
                        Total Supevising Students
                    </h6>
                    <span class="text-xl font-semibold">{{dashboardData?.statistics?.totalSupevisedStudents}}</span>
                    <span class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md">
                        +2.6%
                    </span>
                </div>
                <div>
                    <span>
                        <svg class="w-12 h-12 text-gray-300 dark:text-primary-dark" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z">
                            </path>
                        </svg>
                    </span>
                </div>
            </div>
            }
            <!-- totalProjects card -->
            @if ( dashboardData?.statistics?.totalProjects || dashboardData?.statistics?.totalProjects === 0) {
            <div class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker">
                <div>
                    <h6
                        class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light">
                        Total Projects
                    </h6>
                    <span class="text-xl font-semibold">{{dashboardData?.statistics?.totalProjects}}</span>
                    <span class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md">
                        +3.1%
                    </span>
                </div>
                <div>
                    <span>
                        <svg class="w-12 h-12 text-gray-300 dark:text-primary-dark" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
                        </svg>
                    </span>
                </div>
            </div>
            }
            <!-- totalSupevisedProjects card -->
            @if ( dashboardData?.statistics?.totalSupevisedProjects || dashboardData?.statistics?.totalSupevisedProjects
            != undefined) {
            <div class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker">
                <div>
                    <h6
                        class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light">
                        Total Supervising Projects
                    </h6>
                    <span class="text-xl font-semibold">{{dashboardData?.statistics?.totalSupevisedProjects}}</span>
                    <span class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md">
                        +2.4%
                    </span>
                </div>
                <div>
                    <span>
                        <svg class="w-12 h-12 text-gray-300 dark:text-primary-dark" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
                        </svg>
                    </span>
                </div>
            </div>
            }
            <!-- totalSupevisedGroups card -->
            @if ( dashboardData?.statistics?.totalSupevisedGroups || dashboardData?.statistics?.totalSupevisedGroups !=
            undefined) {
            <div class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker">
                <div>
                    <h6
                        class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light">
                        Total Supervising Groups
                    </h6>
                    <span class="text-xl font-semibold">{{dashboardData?.statistics?.totalSupevisedGroups}}</span>
                    <span class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md">
                        +2.4%
                    </span>
                </div>
                <div>
                    <span>
                        <svg class="w-12 h-12 text-gray-300 dark:text-primary-dark" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
                        </svg>
                    </span>
                </div>
            </div>
            }
            <!-- myProject?.endDate card -->
            @if ( dashboardData?.myProject && dashboardData?.myProject?.endDate ) {
            <div class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker">
                <div>
                    <h6
                        class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light">
                        Project Deadline
                    </h6>
                    <span class="text-xl font-semibold">{{timeService.getFormattedDate(dashboardData?.myProject?.endDate) }}</span>
                    <span class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md">
                        +2.4%
                    </span>
                </div>
                <div>
                    <span>
                        <svg class="w-12 h-12 text-gray-300 dark:text-primary-dark" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
                        </svg>
                    </span>
                </div>
            </div>
            }
            <!-- Project Current Chapter -->
            @if ( dashboardData?.documentationStatus && dashboardData?.documentationStatus?.chapters &&
            dashboardData?.documentationStatus?.chapters.length>0) {
            <div class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker">
                <div>
                    <h6
                        class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light">
                        Project Deadline
                    </h6>
                    <span class="text-xl font-semibold">{{dashboardData?.documentationStatus?.chapters[-1].name}}</span>
                    <span class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md">
                        +2.4%
                    </span>
                </div>
                <div>
                    <span>
                        <svg class="w-12 h-12 text-gray-300 dark:text-primary-dark" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
                        </svg>
                    </span>
                </div>
            </div>
            }


            <!-- Tickets card -->
            @if((dashboardData?.statistics?.totalProjects || dashboardData?.statistics?.totalProjects === 0) &&
            (dashboardData?.statistics?.pendingProjects|| dashboardData?.statistics?.pendingProjects ===0)){

            <div class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker">
                <div>
                    <h6
                        class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light">
                        Approved Projects
                    </h6>
                    <span class="text-xl font-semibold">{{dashboardData?.statistics?.totalProjects -
                        dashboardData?.statistics?.pendingProjects}}</span>
                    <span class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md">
                        +3.1%
                    </span>
                </div>
                <div>
                    <span>
                        <svg class="w-12 h-12 text-gray-300 dark:text-primary-dark" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 5v2m0 4v2m0 4v2M5 5a2 2 0 00-2 2v3a2 2 0 110 4v3a2 2 0 002 2h14a2 2 0 002-2v-3a2 2 0 110-4V7a2 2 0 00-2-2H5z">
                            </path>
                        </svg>
                    </span>
                </div>
            </div>
            }
        </div>

        <div class="bg-gray-100 mt-5 mb-3 w-[400px]  rounded-lg p-4">
            <div class="n-Header flex justify-between">
                <div class="notice-header">
                    <h2 class="text-lg font-bold">Latest Projects</h2>

                </div>
            </div>

            @if (dashboardData?.latestProjects&&dashboardData?.latestProjects.length>0) {
            <div class="notice-list mt-4 max-h-72 overscroll-contain max-h-full overflow-x-hidden overflow-y-scroll">
                @for(lproject of dashboardData?.latestProjects;track lproject._id; let i = $index;){
                <div class="notice-item bg-white flex gap-2 mb-2 p-2 rounded">
                    <span class="w-9 h-9 flex items-center justify-center rounded-full overflow-hidden">
                        <span
                            class="text-xs md:text-md flex items-center justify-center text-black bg-gray-200 dark:bg-gray-600 w-full h-full text-center whitespace-nowrap dark:text-white uppercase">{{lproject.name[0]}}{{lproject.name[1]}}
                        </span>
                    </span>
                    <div class="notice-details w-full flex justify-between items-center ">
                        <p class="description text-sm">
                            {{lproject.description}}
                        </p>
                        <p class="date text-xs text-gray-500 w-max">{{timeService.getFormattedDate(lproject.startDate)}}</p>
                    </div>
                </div>
                }
            </div>
            }
        </div>

    </div>
    }

    @if (isEnableCreateTeamForm==true&& user.role==='student' && !user.group) {
    <app-group-form [isAddMode]="isAddMode" (onCloseForm)="closeTeamForm($event)"
        (onPostRequest)="handlePostRequest($event)"></app-group-form>
    }
</div>